body {
    background: rgb(235,59,95);
background: linear-gradient(90deg, rgba(235,59,95,1) 15%, rgba(216,82,227,1) 49%, rgba(22,83,223,1) 85%)!important;
}

header {
    display: block;
    margin-top: 400px;
}

.sas {
    
    padding: 20px;
    height: 80vh;
}

.metas{
    margin-top: 220px;
    font-size: 40px;
}


.p2{
    font-size: 28px;
    margin-bottom: 40px;
}

.bi{
    font-size: 32px;
}

#sobre-mi{
    
    margin-top: 5px;
    font-size: 29px;
}

#sobremi{
    font-size: 29px;
    margin-top: 60px;
}

.general {
    background-color: #f3f3f3;
    opacity: 1;
    background-image: radial-gradient(#c991f7 1.3px, #f3f3f3 1.3px);
    background-size: 26px 26px;
    border-radius: 1em;
    background-color: rgb(221, 209, 253) !important;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

nav {

    background: rgb(233, 228, 228) !important;
    border-radius: 4%;
}

#sos-mi{
    font-size: 62px;
}

#ses {
    margin-top: 5em;
    margin-bottom: 18em;
}

.lol {
    margin-top: 20px;
    margin-bottom: 45px;
}

.secu{
    font-size: 22px;
}

.front{
    font-size: 22px;
}

.idiomas{
    font-size: 22px;
}

h4{
    font-size: 32px;
}

.contact {
    font-size: 40px;
}

.mail{
    font-size: 32px;
}

.number{
    font-size: 32px;
    margin-top: 5px;
}

.git{
    font-size: 27px;
    margin-bottom: 20px;
}

@media (max-width: 425px) {
    .git {
        font-size: 14px;
    }
}
